[user]
	email = tmandry@boltzmannpv.com
	name = Tyler Mandry
[push]
	default = tracking
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[rerere]
	enabled = true
	autoupdate = true
[alias]
	co = checkout
	rb = rebase
[rebase]
	stat = true
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[difftool]
  prompt = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
