[user]
	email = tmandry@gmail.com
	name = Tyler Mandry
[push]
	default = tracking
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[rerere]
	enabled = true
	autoupdate = true
[alias]
	co = checkout
	rb = rebase
[rebase]
	stat = true
[credential]
	helper = osxkeychain
