[user]
	email = tmandry@gmail.com
	name = Tyler Mandry
[push]
	default = tracking
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[rerere]
	enabled = true
	autoupdate = true
[alias]
	co = checkout
	rb = rebase
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  pb = "!f() { if [ -z \"$1\" ]; then git push -u origin $(git branch-name); else git push -u \"$1\" $(git branch-name); fi }; f"
  copr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1 }"
[rebase]
	stat = true
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[difftool]
  prompt = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
